<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Page 4</title></head>
<body>

<p><strong>First Name:</strong> <span th:text="${userForm.firstName}"></span></p>
<p><strong>Last Name:</strong> <span th:text="${userForm.lastName}"></span></p>
<p><strong>Email:</strong> <span th:text="${userForm.email}"></span></p>
<p><strong>Phone:</strong> <span th:text="${userForm.phone}"></span></p>
<p><strong>City:</strong> <span th:text="${userForm.city}"></span></p>
<p><strong>Country:</strong> <span th:text="${userForm.country}"></span></p>
</body>
</html>